* {
       box-sizing: border-box;
       }

.hmm{

  display: grid;
  align-items: center;
  justify-content: center;
  

}

.dashboard{
    
margin: auto;
margin-top: 100px;
width: 60%;

padding: 10px;
text-align: center;
}

.button {
    margin-right: 10px;
    display: inline;
    
}

.divButton {
    display: block;
    
}